/* Table of content 
=====================================

01. Typography 
02. Misc and reusable element 
03. Preloader
04. One page Menu
05. Multipage Menu
06. Hero section
07. Services
08. Skill
09. Cta-1
10. About
11. Portfolio
12. Blog
13. Contact 
14. Footer
15. Underconstruction page
16. 404 page

*/
/* =========================================================== 
    01. Typography
============================================================ */
body {
  font-family: 'QuicksandLight-Regular', sans-serif;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  color: #3D2323;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-family: 'Blacksword', sans-serif;
  color:#CE0003;
}

h1 {
	font-size:40px;
}

h2 {
  font-size: 32px;
}

h4 {
  font-size: 16px;
  letter-spacing: 2px;
}

h5 {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 30px;
}

a,
a:hover,
a:focus,
a:active,
input,
button,
textarea {
  outline: none;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

button {
  border: none;
}
button:focus {
  outline: none !important;
}

a,
input,
textarea {
  -webkit-transition: all 0.3s ease-in-out 0.25s;
  -o-transition: all 0.3s ease-in-out 0.25s;
  transition: all 0.3s ease-in-out 0.25s;
}

/* =========================================================== 
    02. Misc and Re-usable Element
============================================================ */
.right {
  float: right !important;
}

.fullscreen-bg {
  height: 100vh;
}

.vcenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bg-secondry {
  background-color: #F5F5F5;
}

.bg-img,
.fixed-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.fixed-bg {
  background-attachment: fixed;
}

.fontbold {
  font-weight: 700;
}

.font-alt {
  font-family: 'Blacksword', sans-serif !important;
}

.small-section {
  padding: 20px 0;
}

.page-section {
  padding: 90px 0;
}

.twocolumn-sameheight {
  display: flex;
}

.heading-left {
  color: #222;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 22px;
  font-weight: 700;
}

.section-heading {
  margin-bottom: 80px;
}
.section-heading h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  color: #6E0001;
  letter-spacing: 1px;
}
.section-heading p {
  font-size: 15px;
  line-height: 30px;
}

.btn {
  display: inline-block;
  padding: 15px 30px;
  background-color: transparent;
  position: relative;
  overflow: hidden;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: 700;
  transition: all 0.5s ease;
  font-size: 13px;
  letter-spacing: 1px;
  z-index: 5;
}
.btn span {
  z-index: 2;
}

.btn-lg {
  padding: 30px 50px;
  font-size: 15px;
}

.btn-md {
  padding: 25px 45px;
  font-size: 14px;
}

.btn-sm {
  padding: 20px 40px;
  font-size: 12px;
}

.btn-xs {
  padding: 10px 20px;
  font-size: 11px;
}

.btn-border {
  border: 2px solid;
}
.btn-border:hover, .btn-border:focus {
  color: #fff;
}

.btn-border:before, .btn-border:after,
.btn-border span:before,
.btn-border span:after {
  content: '';
  position: absolute;
  top: 0;
  width: 25%;
  height: 0;
  transition: all 0.5s ease;
  z-index: -1;
}

.btn-border:before {
  left: 0;
}

.btn-border:after {
  left: 50%;
}

.btn-border span:before, .btn-border span:after {
  top: auto;
  bottom: 0;
}

.btn-border span:before {
  left: 25%;
}

.btn-border span:after {
  left: 75%;
}

.btn-border:hover:before, .btn-border:hover:after,
.btn-border:hover span:before,
.btn-border:hover span:after,
.btn-border:focus:before, .btn-border:focus:after,
.btn-border:focus span:before,
.btn-border:focus span:after {
  height: 100%;
}

.btn.btn-bg {
  background-color: #313131;
  color: #fff;
}
.btn.btn-bg:hover {
  color: #fff;
}
.padding-top{
	padding-top:20px;
}

/* page title */
.page-title {
  padding-top: 120px;
}
.page-title h3 {
  color: #313131;
}
.page-title p {
  margin-bottom: 10px;
}
.page-title .breadcrumb {
  background-color: transparent;
}
.page-title .breadcrumb li {
  text-transform: uppercase;
  font-size: 11px;
}
.page-title .breadcrumb a {
  color: #313131;
}

/* =========================================================== 
    03. Preloader
============================================================ */
#drop-preloader {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 999999999;
}

#status {
  width: 200px;
  height: 200px;
  position: fixed;
  left: 50%;
  top: 50%;
  background-image: url(../images/loader.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80px 80px;
  margin: -100px 0 0 -100px;
}

/* =========================================================== 
    04. One page Menu
============================================================ */
.navbar-default {
  padding: 30px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #fff;
  border-color: transparent;
  box-shadow: 1px 3px 7px 0px rgba(0, 0, 0, 0.35);
  -webkit-transition: all .5s ease .25s;
  transition: all .5s ease .25s;
}

.navbar-default .navbar-brand {
  font-weight: 700;
  text-transform: uppercase;
  padding: 0;
  transition: all 0.5s ease;
}
.navbar-default .navbar-brand img {
  transition: all 0.5s ease;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #222;
  background-color: transparent;
  border-color: #222;
}

.navbar-default.affix {
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
}
.navbar-default.affix .navbar-brand img {
  height: 45px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #222;
}

.navbar-default .navbar-toggle {
  border-color: #222;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #222;
  background-color: transparent;
  border-color: #222;
}

.navbar-default .navbar-nav > li > a {
  font-size: 15px;
  font-weight: 400;
  text-transform: capitalize;
  color: #965858;
  position: relative;
  border: 2px solid transparent;
  margin-left: 10px;
  margin-bottom: 0;
  padding: 8px 15px;
  border-radius: 5px;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #222;
}

.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  line-height: 1.42857143;
  color: #222;
  white-space: nowrap;
  font-weight: 400;
  text-transform: capitalize;
  font-size: 14px;
  letter-spacing: 1px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 3px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #f8f8f8;
  background-clip: padding-box;
  border: 0;
  box-shadow: none;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  color: #222;
  background-color: #f8f8f8;
}

.navbar-toggle {
  border-color: #f8f8f8;
  background-color: #f8f8f8;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #cccccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
  border-left-color: #ffffff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

@media (max-width: 768px) {
  .dropdown-submenu li a {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0;
  }
}
/* =========================================================== 
    05. Multipage Menu
============================================================ */
.stick-fixed {
  position: fixed !important;
  top: 0;
  left: 0;
}

.clearlist, .clearlist li {
  list-style: none;
  padding: 0;
  margin: 0;
  background: none;
}

.full-wrapper {
  margin: 0 2%;
}

/* ==========
   Classic menu bar
          ======== */
/* Logo (in navigation panel)*/
.nav-logo-wrap {
  float: left;
  margin-right: 20px;
}

.nav-logo-wrap .logo {
  display: table-cell;
  vertical-align: middle;
  max-width: 170px;
  height: 120px;
  -webkit-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
  -moz-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
  -o-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
  -ms-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
}

.nav-logo-wrap .logo img {
  max-height: 100%;
}

.nav-logo-wrap .logo:before,
.nav-logo-wrap .logo:after {
  display: none;
}

.logo,
a.logo:hover {
  font-family: 'Blacksword', arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
}

/*
 * Desktop nav
 */
.main-nav {
  width: 100%;
  height: 75px !important;
  position: relative;
  top: 0;
  left: 0;
  text-align: left;
  background: rgba(255, 255, 255, 0.97);
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  z-index: 201;
  -webkit-transition: height 0.27s cubic-bezier(0, 0, 0.58, 1);
  -moz-transition: height 0.27s cubic-bezier(0, 0, 0.58, 1);
  -o-transition: height 0.27s cubic-bezier(0, 0, 0.58, 1);
  -ms-transition: height 0.27s cubic-bezier(0, 0, 0.58, 1);
  transition: height 0.27s cubic-bezier(0, 0, 0.58, 1);
}

.small-height {
  height: 95px !important;
}

.small-height .inner-nav ul li a {
  height: 55px !important;
  line-height: 55px !important;
}

.inner-nav {
  display: inline-block;
  position: relative;
  float: right;
}

.inner-nav ul {
  float: right;
  margin: auto;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.3;
  font-family: 'QuicksandBold-Regular';
}

.inner-nav ul li {
  float: left;
  margin-left: 30px;
  position: relative;
}

.inner-nav ul li a {
  color: #965858;
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  -webkit-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
  -moz-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
  -o-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
  -ms-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
}

.inner-nav ul li a:hover,
.inner-nav ul li a.active {
  color: #000;
  text-decoration: none;
}

/* Menu sub */
.mn-sub {
  display: none;
  width: 170px;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0;
  background: #f5f5f5;
}

.mn-sub li {
  display: block;
  width: 100%;
  margin: 0 !important;
}

.inner-nav ul li .mn-sub li a {
  display: block;
  width: 100%;
  height: auto !important;
  line-height: 1.3 !important;
  position: relative;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 11px 15px;
  font-size: 13px;
  text-align: left;
  text-transform: none;
  border-left: none;
  border-right: none;
  letter-spacing: 0;
  color: #313131 !important;
  cursor: pointer;
}

.mobile-on .mn-has-multi > li:last-child > a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.065) !important;
}

.mn-sub li a:hover,
.inner-nav ul li .mn-sub li a:hover,
.mn-sub li a.active {
  color: #f5f5f5 !important;
}

.inner-nav ul li .mn-sub .mn-sub-multi > a:hover {
  color: #313131 !important;
}

.mn-sub li ul {
  left: 100%;
  right: auto;
  top: 0;
  border-left: 1px solid rgba(255, 255, 255, 0.07);
}

.inner-nav > ul > li:last-child .mn-sub,
.inner-nav li .mn-sub.to-left {
  left: auto;
  right: 0;
}

.inner-nav li:last-child .mn-sub li ul,
.inner-nav li .mn-sub li ul.to-left {
  left: auto;
  right: 100%;
  top: 0;
  border-left: none;
  border-right: 1px solid rgba(255, 255, 255, 0.07);
}

.mobile-on .inner-nav li:last-child .mn-sub li ul {
  left: auto;
  right: auto;
  top: 0;
}

.mn-wrap {
  padding: 8px;
}

/* Menu sub multi */
.mn-has-multi {
  width: auto !important;
  padding: 15px;
  text-align: left;
  white-space: nowrap;
}

.mn-sub-multi {
  width: 190px !important;
  overflow: hidden;
  white-space: normal;
  float: none !important;
  display: inline-block !important;
  vertical-align: top;
}

.mn-sub-multi > ul {
  width: auto;
  margin: 0;
  padding: 0;
  float: none;
}

.mn-group-title {
  font-weight: 700;
  text-transform: uppercase;
  color: #fff !important;
}

.mn-group-title:hover {
  background: none !important;
}

.mobile-on .mn-sub-multi > ul {
  left: auto;
  right: auto;
  border: none;
}

.mobile-on .mn-sub-multi {
  display: block;
  width: 100% !important;
}

.mobile-on .mn-sub-multi > ul > li:last-child > a {
  border: none !important;
}

.mobile-on .mn-sub > li:last-child > a {
  border: none !important;
}

.mobile-on .mn-sub-multi:last-child > ul {
  border-bottom: none !important;
}

/*
 * Mobile nav
 */
.mobile-on .desktop-nav {
  display: none;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0 15px;
  z-index: 100;
}

.mobile-on .full-wrapper .desktop-nav {
  padding: 0;
}

.mobile-on .desktop-nav ul {
  width: 100%;
  float: none;
  background: rgba(18, 18, 18, 0.97);
  position: relative;
  overflow-x: hidden;
}

.mobile-on .desktop-nav > ul {
  overflow-y: auto;
}

.mobile-on .desktop-nav ul li {
  display: block;
  float: none !important;
  overflow: hidden;
}

.mobile-on .desktop-nav ul li ul {
  padding: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.mobile-on .desktop-nav ul li a {
  display: block;
  width: 100%;
  height: 38px !important;
  line-height: 38px !important;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
  text-align: left;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.065);
  color: #999;
  letter-spacing: 1px;
  cursor: pointer;
}

.mobile-on .desktop-nav ul li a:hover,
.mobile-on .desktop-nav ul li a.active {
  background: rgba(255, 255, 255, 0.03);
  color: #ddd;
}

/* Menu sub */
.mobile-on .mn-has-sub > .fa {
  display: block;
  width: 18px;
  height: 18px;
  font-size: 14px;
  line-height: 16px;
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -8px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.mobile-on .js-opened > .mn-has-sub > .fa {
  border-color: rgba(255, 255, 255, 0.4);
  line-height: 14px;
}

.mobile-on .inner-nav li {
  margin: 0 !important;
}

.mobile-on .mn-sub {
  display: none;
  opacity: 0;
  position: relative;
  left: 0 !important;
  right: 0;
  top: 0;
  bottom: 0;
  border-left: none !important;
  border-right: none !important;
  border-top: none;
  z-index: 10;
  transform: translateY(0) !important;
}

.mobile-on .mn-sub li {
  padding-left: 10px;
}

.inner-nav li.js-opened .mn-sub {
  opacity: 1;
}

.mobile-nav {
  display: none;
  float: right;
  vertical-align: middle;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  border-left: 1px solid rgba(0, 0, 0, 0.05);
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
  -moz-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
  -o-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
  -ms-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
  -webkit-transition-property: background, color;
  -moz-transition-property: background, color;
  -o-transition-property: background, color;
  transition-property: background, color;
}

.mobile-nav:hover,
.mobile-nav.active {
  background: #fff;
  color: #777;
}

.mobile-nav:active {
  -webkit-box-shadow: 0 0 35px rgba(0, 0, 0, 0.05) inset;
  -moz-box-shadow: 0 0 35px rgba(0, 0, 0, 0.05) inset;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.05) inset;
}

.no-js .mobile-nav {
  width: 55px;
  height: 55px;
}

.mobile-on .mobile-nav {
  display: table;
}

.mobile-nav .fa {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 21px;
}

/* Menu sub multi */
.mobile-on .mn-has-multi {
  width: auto;
  padding: 0;
  text-align: left;
  white-space: normal;
}

.mobile-on .mn-sub {
  width: 100%;
  float: none;
  position: relative;
  overflow-x: hidden;
}

/* =========================================================== 
   06 . Hero Section
============================================================ */
.full-width img {
  width: 100%;
  height: auto;
}

.carousel.slide .carousel-control {
  width: 50%;
  z-index: 90;
}

.carousel.slide .carousel-fade .carousel-control {
  z-index: 10;
}

.carousel.slide .carousel-control:hover,
.carousel.slide .carousel-control:focus {
  opacity: 1;
  filter: alpha(opacity=100);
}

.carousel-indicators {
  left: 13%;
}

.carousel-indicators li {
  background-color: #aaa;
  border: 2px solid transparent;
  border-radius: 50%;
  transition: all 0.3s ease;
}
.carousel-indicators li:hover {
  background-color: transparent;
}
.carousel-indicators li.active {
  height: 15px;
  width: 15px;
  top: 10px;
  background-color: transparent;
}

/**/
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 100;
}

@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-fade .carousel-inner > .item.next,
  .carousel-fade .carousel-inner > .item.active.right {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  .carousel-fade .carousel-inner > .item.prev,
  .carousel-fade .carousel-inner > .item.active.left {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  .carousel-fade .carousel-inner > .item.next.left,
  .carousel-fade .carousel-inner > .item.prev.right,
  .carousel-fade .carousel-inner > .item.active {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
/* ----------------------------------------------------------------
	bs slider
-----------------------------------------------------------------*/
.bs-hero.full-screen .carousel-inner .item img {
  height: 100vh;
  width: 100%;
}

.bs-hero.full-screen .carousel-inner .item .bs-info {
  position: absolute;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  left: 10%;
}

.bs-hero.full-screen .carousel-inner .item .bs-info a,
.drop-home a {
  font-size: 22px;
  color: #888;
}

.bs-hero.full-screen .carousel-inner .item .bs-info h1,
.drop-home h1 {
  text-transform: capitalize;
  color: #282828;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  margin: 0 0 40px 0;
}

.bs-hero.full-screen .carousel-inner .item .bs-info p,
.drop-home p {
  color: #555;
  width: 78%;
}

.bs-hero.full-screen .carousel-indicators {
  z-index: 10;
}

.bs-hero.full-screen .carousel.slide .carousel-control {
  width: 30%;
  margin-top: 180px;
  margin-bottom: 120px;
}

/* =========================================================== 
    07. services
============================================================ */
.drop-service-1 .service .icon,
.service-2 .service .icon,
.service-3 .service .icon {
  margin-bottom: 50px;
}
.drop-service-1 .service h4,
.service-2 .service h4,
.service-3 .service h4 {
  color: #313131;
  text-transform: capitalize;
  margin-bottom: 30px;
  letter-spacing: 1px;
}
.drop-service-1 .service p,
.service-2 .service p,
.service-3 .service p {
  font-size: 13px;
  margin-bottom: 0;
  line-height: 22px;
}

.drop-service-1 .service {
  margin-bottom: 30px;
  padding: 55px 40px;
  border: 1px solid #f1f1f1;
}
.drop-service-1 .service .icon {
  height: 80px;
  width: 80px;
  background-color: #444;
  color: #fff;
  display: inline-block;
  line-height: 80px;
  font-size: 20px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

/* service 2 */
.service-2 .service {
  padding: 100px 40px;
  background-color: #fff;
  text-align: center;
}
.service-2 .service:hover .icon {
  display: none;
}
.service-2 .service:hover p {
  display: block;
}
.service-2 .service .icon {
  height: 70px;
  width: 70px;
  line-height: 70px;
  display: inline-block;
  border-radius: 50%;
}
.service-2 .service .icon i {
  color: #fff;
  font-size: 16px;
}
.service-2 .service p {
  display: none;
}

/* service-3 */
.service-3 .service {
  padding: 50px;
  border: 1px solid #f1f1f1;
  text-align: center;
  transition: border 0.3s ease;
}
.service-3 .service .icon {
  margin-bottom: 40px;
}
.service-3 .service .icon i {
  font-size: 35px;
}

/* =========================================================== 
    08. Skill
============================================================ */
.progress-meter {
  border: 1px solid #e7e7e7;
  height: 20px;
  background-color: #f7f7f7;
  padding: 3px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.progress-text {
  text-transform: capitalize;
  font-family: 'Cabin', sans-serif;
  font-size: 17px;
  color: #4e4e4e;
}
.progress-text span {
  float: right;
}

.progress-bar {
  transition: all 2s ease;
  border-radius: 5px;
  background-image: -moz-linear-gradient(0deg, #9429ee 50%, #6E05BF 100%);
  background-image: -webkit-linear-gradient(0deg, #9429ee 50%, #6E05BF 100%);
  background-image: -ms-linear-gradient(0deg, #9429ee 50%, #6E05BF 100%);
}

/* =========================================================== 
    09. cta 1
============================================================ */
.cta-1 h4 {
  font-weight: 600;
  color: #313131;
}
.cta-1 .bigfont {
  font-size: 50px;
  font-weight: 300;
  color: #282828;
  margin-bottom: 40px;
}
.cta-1 p {
  color: #555;
}

/* =========================================================== 
    10. About 
============================================================ */
.creativeone h4 {
  line-height: 30px;
}
.creativeone .left-info,
.creativeone .right-info {
  opacity: 0;
  transition: all 0.3s ease;
}

.creativeoneimage {
  height: 76px;
}
.creativeoneimage h4 {
  line-height: 30px;
}
.creativeoneimage .left-icon,
.creativeoneimage .right-icon {
  position: absolute;
  border: 3px solid;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  transition: all 0.3s ease;
}
.creativeoneimage .left-icon:hover,
.creativeoneimage .right-icon:hover {
  cursor: pointer;
  background-color: #fff;
}
.creativeoneimage .left-icon {
  top: 36%;
  left: 15%;
}
.creativeoneimage .right-icon {
  top: 55%;
  right: 31%;
}

.about-info h2 {
  line-height: 65px;
  font-weight: 300;
  color: #282828;
}
.about-info h4 {
  line-height: 30px;
}
.about-info .downloads .digit {
  font-weight: 300;
  font-size: 30px;
  color: #2c3e50;
}
.about-info .downloads span {
  font-size: 18px;
  color: #a1a1a1;
}

.gradient-chart .percent {
  font-size: 48px;
  font-family: 'Blacksword' sans-serif;
  color: #313131;
  font-weight: 700;
  position: absolute;
  top: 35%;
  left: 36%;
}

/* team member */
.team-member {
  overflow: hidden;
  max-height: 695px;
}
.team-member:hover .team-details {
  bottom: 100px;
}
.team-member:hover img {
  transform: scale(1);
  opacity: 0.5;
}
.team-member img {
  transition: all 0.5s ease;
  transform: scale(0.9);
}

.team-details {
  position: relative;
  background-color: #fff;
  padding: 32px 25px 120px;
  text-align: center;
  bottom: -25px;
  transition: all 0.5s ease;
}
.team-details .name,
.team-details .post {
  font-size: 13px;
  display: block;
}
.team-details .name {
  text-transform: uppercase;
  color: #313131;
  font-weight: 700;
}
.team-details p {
  font-size: 13px;
}
.team-details ul {
  margin: 20px 0;
}
.team-details ul a {
  display: inline-block;
  color: #313131;
  font-size: 20px;
}

/* testimonial */
.tst-thumb {
  margin-bottom: 50px;
}

.testimonial .content {
  padding: 0 30px;
}
.testimonial .content p {
  font-size: 16px;
  font-style: italic;
  line-height: 32px;
}
.testimonial .testimonial-meta {
  color: #313131;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}
.testimonial .testimonial-meta span {
  color: #965858;
  display: block;
  font-size: 13px;
  font-weight: 400;
  text-transform: none;
}

/* =========================================================== 
    11. portfolio 
============================================================ */
/* portolio filter */
.drop-portfolio-filter a {
  font-family: 'Blacksword', sans-serif;
  font-size: 15px;
  color: #965858;
  padding: 8px 10px;
  border: 1px solid transparent;
}
.drop-portfolio-filter a:hover, .drop-portfolio-filter a:focus {
  color: #222;
}
.drop-portfolio-filter a.active {
  border-color: #222;
  color: #222;
}

.work-grids-area {
  margin-left: -15px;
}

.drop-work-item {
  padding-bottom: 50px;
}
.drop-work-item > a {
  display: block;
  position: relative;
  overflow: hidden;
  cursor: url(../images/plus.png), auto;
}
.drop-work-item > a:hover .hover-overlay {
  opacity: 1;
  transform: scale(1);
  transition: all 0.3s ease;
}
.drop-work-item .hover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: scale(0.8);
  opacity: 0;
  transition: all 0.3s ease;
}
.drop-work-item .desc {
  display: flex;
  margin-top: 20px;
}
.drop-work-item .desc .info h5 {
  font-size: 15px;
  color: #313131;
}
.drop-work-item .desc .info p {
  font-size: 13px;
  margin-bottom: 0;
}
.drop-work-item .desc .share {
  list-style: none;
  padding: 0;
  margin-top: 10px;
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.drop-work-item .desc .share li {
  float: left;
}
.drop-work-item .desc .share li i {
  margin-right: 5px;
}
.drop-work-item .desc .share li a {
  color: #959595;
  display: inline-block;
  margin-left: 20px;
}

/* single portfolio */
.portfolio-details .project-title {
  color: #313131;
  margin-bottom: 30px;
  font-weight: 600;
}
.portfolio-details .portfolio-meta li {
  margin-bottom: 15px;
}
.portfolio-details .portfolio-meta span {
  font-weight: 700;
  color: #313131;
  width: 130px;
  text-transform: uppercase;
  display: inline-block;
  font-size: 12px;
}
.portfolio-details .project-social {
  display: inline-block;
}
.portfolio-details .project-social a {
  color: #965858;
}
.portfolio-details .project-social a:hover {
  color: #313131;
}

.portfolio-parallax {
  height: 100vh;
}

/* =========================================================== 
    12. blog
============================================================ */
.blog-grid {
  margin-bottom: 40px;
}
.blog-grid iframe {
  width: 100%;
}
.blog-grid ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.blog-grid .blog-desk {
  padding: 15px 0;
}
.blog-grid .blog-title {
  overflow: hidden;
  position: relative;
  display: inline-block;
}
.blog-grid .blog-title a {
  color: #313131;
  font-size: 22px;
  font-weight: 600;
}
.blog-grid .post-meta-date {
  display: block;
  overflow: hidden;
  margin-bottom: 20px;
}
.blog-grid .post-meta-date li {
  float: left;
  position: relative;
}
.blog-grid .post-meta-date li:after {
  content: '|';
  padding-left: 10px;
  padding-right: 10px;
}
.blog-grid .post-meta-date li:last-child:after {
  content: '';
}
.blog-grid .post-meta-date a {
  color: #717171;
  display: inline-block;
  text-transform: uppercase;
}
.blog-grid .meta-share {
  display: flex;
}
.blog-grid .meta-share a {
  color: #313131;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 2px;
  display: inline-block;
  margin-right: 15px;
}
.blog-grid blockquote {
  font-size: 16px;
  line-height: 40px;
  font-style: italic;
  padding: 32px;
  font-weight: 600;
  color: #818181;
  background-color: #f5f5f5;
  transition: all 0.3s ease;
}
.blog-grid blockquote:hover {
  color: #fff;
}
.blog-grid blockquote .author {
  display: block;
  text-align: right;
  font-size: 11px;
}

.owl-blog-gallery {
  width: 100%;
}
.owl-blog-gallery .owl-controls {
  position: absolute;
  bottom: 15px;
  left: 20px;
}
.owl-blog-gallery .owl-controls .owl-page span {
  height: 10px;
  width: 10px;
  opacity: 1;
  background-color: #aaa;
  border: 2px solid transparent;
  border-radius: 50%;
  transition: all 0.3s ease;
  margin: 3px;
}
.owl-blog-gallery .owl-controls .owl-page.active span,
.owl-blog-gallery .owl-controls.clickable .owl-page:hover span {
  height: 15px;
  width: 15px;
  top: 10px;
  background-color: transparent;
}

/* blog classic */
.blog-grid.blog-classic .readmore-btn {
  margin-top: 30px;
}

/* blog widget */
.widget {
  margin-bottom: 50px;
}
.widget h2 {
  text-transform: uppercase;
  font-size: 14px;
  color: #313131;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;
  font-family: 'Blacksword', sans-serif;
  letter-spacing: 1px;
  font-weight: 700;
  word-spacing: 3px;
}
.widget h2:after {
  content: '';
  height: 2px;
  width: 40px;
  background-color: #313131;
  position: absolute;
  bottom: 0;
  left: 0;
}
.widget p {
  font-size: 13px;
}
.widget .categories li,
.widget .archives li {
  margin-bottom: 15px;
  font-size: 13px;
}
.widget .categories a,
.widget .archives a {
  color: #965858;
}
.widget .categories a:hover,
.widget .archives a:hover {
  color: #313131;
}
.widget .categories a span:before,
.widget .archives a span:before {
  content: "/";
  margin-right: 4px;
  padding-left: 10px;
}

.search-widget form input {
  height: 40px;
  border: 2px solid #965858;
  padding: 0 20px;
  width: 85%;
}
.search-widget form i {
  right: 24%;
  top: 0.8%;
  position: absolute;
  cursor: pointer;
}

.widget-comments li {
  margin-bottom: 15px;
  font-size: 12px;
}
.widget-comments a {
  display: block;
  color: #313131;
  font-size: 14px;
  margin-bottom: 3px;
}

.widget-posts li {
  display: flex;
  margin-bottom: 20px;
}
.widget-posts li > a {
  float: left;
  margin-right: 15px;
}
.widget-posts li img {
  height: 40px;
}
.widget-posts .widget-details {
  float: left;
  flex: 1;
  font-size: 12px;
}
.widget-posts .widget-details a {
  font-size: 14px;
  color: #313131;
}

.tagscloud li {
  display: inline-block;
}
.tagscloud li a {
  display: inline-block;
  border: 1px solid #965858;
  color: #965858;
  margin-bottom: 10px;
  margin-right: 5px;
  padding: 5px 10px;
  font-size: 11px;
}
.tagscloud li a:hover {
  background-color: #313131;
  border-color: #313131;
  color: #fff;
}

/* blog details */
.blog-details .post-title {
  color: #313131;
  font-family: 'Blacksword', sans-serif;
  font-size: 24px;
  word-spacing: 3px;
  font-weight: 700;
}
.blog-details .post-meta {
  list-style: none;
  padding: 0;
  display: block;
  padding-bottom: 30px;
}
.blog-details .post-meta li {
  float: left;
  display: inline-block;
}
.blog-details .post-meta li a {
  padding-left: 5px;
  color: #965858;
}
.blog-details .post-meta li a:hover {
  color: #313131;
}
.blog-details .post-meta li:after {
  content: '|';
  padding-right: 10px;
  padding-left: 10px;
}
.blog-details .post-meta li:last-child:after {
  content: '';
}
.blog-details .desk {
  padding: 30px 0;
}
.blog-details p.lead {
  font-size: 16px;
  line-height: 2;
  font-weight: 400;
}
.blog-details blockquote {
  background-color: #f5f5f5;
  padding: 40px;
}
.blog-details blockquote p {
  font-size: 17px;
  font-style: italic;
  line-height: 32px;
}
.blog-details blockquote p:before {
  content: "\f10d";
  font-family: 'FontAwesome';
  font-size: 50px;
  margin-right: 10px;
  color: #313131;
}
.blog-details blockquote .author {
  font-size: 14px;
  font-style: normal;
  color: #313131;
  margin-top: 20px;
}
.blog-details blockquote .author:before {
  content: '\2014 \00A0';
}
.blog-details .bullet {
  padding-left: 15px;
}
.blog-details .bullet li {
  margin-bottom: 10px;
}
.blog-details .tags {
  margin-top: 30px;
}
.blog-details .tags h4 {
  color: #313131;
  text-transform: uppercase;
  font-weight: 600;
}
.blog-details .tags li a {
  color: #965858;
  font-size: 12px;
}
.blog-details .tags li a:hover {
  color: #313131;
}
.blog-details .tags li a:after {
  content: ',';
  padding-left: 5px;
}

.author-info {
  padding: 35px;
  margin: 40px 0 20px;
}
.author-info img {
  width: 100px;
  height: 100px;
  float: left;
  display: inline-block;
  margin-right: 20px;
}
.author-info .desk {
  overflow: hidden;
}
.author-info h4 {
  color: #313131;
  text-transform: uppercase;
  margin-bottom: 0;
  font-weight: 600;
}
.author-info p.author {
  text-transform: uppercase;
  font-size: 13px;
  margin-bottom: 20px;
  color: #898989;
  word-spacing: 3px;
  font-weight: 600;
}
.author-info .author-social {
  margin-top: 40px;
}
.author-info .author-social a {
  display: inline-block;
}
.author-info .author-social a:hover .fa {
  color: #fff;
}
.author-info .author-social a:hover .fa-facebook {
  background-color: #3b5998;
}
.author-info .author-social a:hover .fa-twitter {
  background-color: #33BCF0;
}
.author-info .author-social a:hover .fa-google-plus {
  background-color: #E36F60;
}
.author-info .author-social a:hover .fa-instagram {
  background-color: #7398B6;
}
.author-info .author-social a:hover .fa-dribbble {
  background-color: #C32361;
}
.author-info .author-social .fa {
  font-size: 25px;
  background: transparent;
  color: #313131;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  width: 60px;
  height: 60px !important;
  line-height: 1;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.blog-comments h4 {
  color: #313131;
  text-transform: uppercase;
  font-weight: 600;
}

.blog-comment {
  margin-top: 40px;
}
.blog-comment .blog-comment {
  margin-left: 40px;
}
.blog-comment img {
  height: 100px;
  width: 100px;
  display: inline-block;
  margin-right: 30px;
  float: left;
}
.blog-comment .comment-text {
  overflow: hidden;
}
.blog-comment .comment-date {
  margin-bottom: 10px;
  color: #965858;
}
.blog-comment .comment-date a {
  color: #965858;
}
.blog-comment .comment-date a:hover {
  color: #313131;
}
.blog-comment .comment-date .btn {
  color: #fff;
  padding: 5px 8px;
  margin-left: 20px;
}
.blog-comment .comment-date .btn:hover {
  color: #fff;
}

.pagination a {
  display: inline-block;
  color: #965858;
  font-size: 16px;
  margin: 0 25px;
  font-weight: 600;
  border-bottom: 1px solid transparent;
}
.pagination a:hover {
  color: #313131;
}
.pagination a.active {
  border-color: #313131;
  color: #313131;
}
.pagination a:first-child, .pagination a:last-child {
  color: #313131;
}

/* =========================================================== 
    13. Contact
============================================================ */
.drop-form input,
.drop-form textarea {
  width: 100%;
  height: 40px;
  border: 2px solid #959595;
  background-color: #f8f8f8;
  margin-bottom: 20px;
}
.drop-form input {
  padding: 0 20px;
}
.drop-form textarea {
  padding: 20px;
  height: 180px;
  resize: vertical;
}

#google-map {
  height: 400px;
  width: 100%;
}

/* =========================================================== 
    14. footer 
============================================================ */
.primary-footer {
  padding: 30px 0;
  background-color: #eee;
}
.primary-footer img {
  margin-bottom: 25px;
}

.social-footer li {
  padding-left: 0;
}
.social-footer a {
  display: inline-block;
  height: 35px;
  width: 35px;
  line-height: 35px;
  font-size: 16px;
  background-color: #d6d6d6;
  color: #4a4a4a;
  margin-top: 10px;
}
.social-footer a:hover, .social-footer a:focus {
  color: #fff;
}

.footer-secondry {
  padding: 20px 0;
  background-color: #e4e4e4;
}

.copyright {
  text-transform: uppercase;
}

/* =========================================================== 
    15. Underconstruction 
============================================================ */
.drop-underconstuction h1 {
  text-transform: uppercase;
  color: #222;
}

.drop-countdown div {
  display: inline-block;
}
.drop-countdown div span {
  display: block;
  width: 100px;
  color: #222;
}
.drop-countdown div span:first-child {
  font-size: 3em;
}
.drop-countdown div span:last-child {
  font-size: 10px;
  text-transform: uppercase;
  width: 60px;
  text-align: center;
  font-weight: 600;
}

#drop-mc-form input {
  width: 100%;
  height: 40px;
  padding: 0 20px;
  border: 2px solid #965858;
}

.drop-subscribe-message {
  display: block;
  height: 30px;
  line-height: 15px;
  font-size: 15px;
  margin-top: 5px;
}

.drop-subscribe-message p {
  font-size: 15px;
}

.error > p {
  color: #f25454;
}

.valid > p {
  color: green;
}

/* =========================================================== 
    16. 404 
============================================================ */
.drop-404text h1 {
  color: #222;
  font-size: 130px;
  font-weight: 300;
}
.drop-404text p {
  font-size: 20px;
  color: #222;
  line-height: 1.8;
  word-spacing: 5px;
}
