$theme-color: #00FFD7;

::-moz-selection {
	color: #fff;
	background-color: $theme-color;
}
::selection {
	color: #fff;
	background-color: $theme-color;
}
.carousel-indicators li.active,
.carousel-indicators li:hover,
.creativeoneimage .left-icon,
.creativeoneimage .right-icon,
.btn-border,
input:focus,
textarea:focus,
.owl-blog-gallery .owl-controls .owl-page.active span,
.owl-blog-gallery .owl-controls.clickable .owl-page:hover span,
.blog-grid blockquote,
.service-3 .service:hover {
	border-color: $theme-color;
}
.theme-color,
.bs-hero.full-screen .carousel-inner .item .bs-info a:hover,
.dropdown-menu > li > a:hover,
.drop-work-item .desc .share a:hover,
.drop-work-item .desc .share a:focus,
.btn-border,
.blog-grid .blog-title a:hover,
.blog-grid .meta-share a:hover,
.blog-grid .post-meta-date a:hover,
.page-title .breadcrumb a:hover,
.service-3 .service .icon i {
	color: $theme-color;
}
.drop-service-1 .service:hover .icon,
.creativeoneimage .left-icon,
.creativeoneimage .right-icon,
.social-footer a:hover,
.social-footer a:focus,
.btn-border:before, .btn-border:after,
.btn-border span:before,
.btn-border span:after,
.blog-grid blockquote:hover,
.btn-bg:hover,
.btn-bg:focus,
.service-2 .service .icon,
.mn-sub li a:hover,
.inner-nav ul li .mn-sub li a:hover,
.mn-sub li a.active {
	background-color: $theme-color;
}
.drop-work-item .hover-overlay {
	background-color: rgba($theme-color, 0.7);
}