@font-face {
  font-family: 'Blacksword';
  src: url('Blacksword.eot');
  src: url('Blacksword.woff2') format('woff2'),
       url('Blacksword.woff') format('woff'),
       url('Blacksword.ttf') format('truetype'),
       url('Blacksword.svg#Blacksword') format('svg'),
       url('Blacksword.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'QuicksandLight-Regular';
  src: url('QuicksandLight-Regular.eot');
  src: url('QuicksandLight-Regular.woff2') format('woff2'),
       url('QuicksandLight-Regular.woff') format('woff'),
       url('QuicksandLight-Regular.ttf') format('truetype'),
       url('QuicksandLight-Regular.svg#QuicksandLight-Regular') format('svg'),
       url('QuicksandLight-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'QuicksandBook-Regular';
  src: url('QuicksandBook-Regular.eot');
  src: url('QuicksandBook-Regular.woff2') format('woff2'),
       url('QuicksandBook-Regular.woff') format('woff'),
       url('QuicksandBook-Regular.ttf') format('truetype'),
       url('QuicksandBook-Regular.svg#QuicksandBook-Regular') format('svg'),
       url('QuicksandBook-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'QuicksandBold-Regular';
  src: url('QuicksandBold-Regular.eot');
  src: url('QuicksandBold-Regular.woff2') format('woff2'),
       url('QuicksandBold-Regular.woff') format('woff'),
       url('QuicksandBold-Regular.ttf') format('truetype'),
       url('QuicksandBold-Regular.svg#QuicksandBold-Regular') format('svg'),
       url('QuicksandBold-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

